 {% extends "base.html" %}
 {% block content %}
 <div class="container">
 <h1>Анализ тональности отзывов</h1>
 <p>
     В данном приложении реализован анализатор отзывов на смартфоны и сотовые телефоны.
 </p>
 <p>
     Перейдите на страницу "Анализатор", в которой вы можете ввести текст
     отзывва и далее получить предсказание о тональности отзыва.
 </p>
 <p class="bg-danger">
     <font color="red">Анализатор тональности отзывов работает корректно только с русским текстом.</font>
 </p>
 </div>
 {% endblock %}
